<div class="row">
  <%= render :partial => "user_badge",  :object => @user %>
  <div class="col-sm-6">      
    <%= render "feed_page" %>
  </div>

  <div class="col-sm-2">
    <p>Your ads here</p>
  </div>
</div>