<div class="row">
  <%= render :partial => "user_badge",  :object => @user %>
  <div class="col-sm-6">      
    <div id="apps">
      <tweet></tweet>
    </div>
  </div>

  <div class="col-sm-2">
    <p>Your ads here</p>
  </div>
</div>

<%= javascript_pack_tag 'tweet' %>