<div class="row">
  <%= render :partial => "user_badge",  :object => @user %>
  <div class="col-sm-6">
    <% @user_tweets.each do | tweet | %>
      <%= render :partial => "tweet", :object => tweet %>
    <% end %>
  </div>
</div>