.avatar{
  height: 50px;
  width: 50px;
}

.tweet{
  min-height: 100px;
}

.tweet-form{
  padding-bottom: 15px;
}

header{
  padding-bottom: 15px;
}

.link-user{
  font-weight: normal;
  color: black;
}

.link-user:hover{
  text-decoration: none;
}